@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    font-family: "Inter", sans-serif;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:#020617;

    color:#F8FAFC;

    overflow-x:hidden;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#0066FF;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#111827;

}